@model IEnumerable<DealsViewModel>

@{
    ViewData["Title"] = "Сделки";
}

<h2 class="bg-abvmiddlegreen text-center">@ViewData["Title"]</h2>
<hr />

<div>
    <table class="table table-hover table-responsive">
        <caption class="bg-abvdarkgreen">Списък със сделки на ценни книжа</caption>
        <thead class="bg-abvdarkgreen bg-bg-abvlightgreen">
            <tr>
                <th class="text-left" scope="col">Тип на сделката</th>
                <th class="text-left" scope="col">БФБ Код</th>
                <th class="text-left" scope="col">Емитент</th>
                <th class="text-right" scope="col">Количество</th>
                <th class="text-right" scope="col">Цена</th>
                <th class="text-right" scope="col">Стойност</th>
                <th class="text-right" scope="col">Комисионна</th>
                <th class="text-right" scope="col">Валута</th>
                <th class="text-right" scope="col">Сетълмент</th>
                <th class="text-right" scope="col">Пазар</th>
            </tr>
        </thead>
        <tbody class="bg-abvdarkgreen">
            @foreach (var deal in Model)
            {
                <tr>
                    <td class="text-left">@Html.DisplayFor(model => deal.DealType)</td>
                    <td class="text-left">@Html.DisplayFor(model => deal.SecurityBfbCode)</td>
                    <td class="text-left align-text-bottom">@Html.DisplayFor(model => deal.SecurityIssuerName)</td>
                    <td class="text-right align-text-bottom" type="number">@Html.DisplayFor(model => deal.Quantity)</td>
                    <td class="text-right align-text-bottom" type="number">@Html.DisplayFor(model => deal.Price)</td>
                    <td class="text-right align-text-bottom">@Html.DisplayFor(model => deal.TotalPrice)</td>
                    <td class="text-right align-text-bottom">@Html.DisplayFor(model => deal.Fee)</td>
                    <td class="text-right align-text-bottom">@Html.DisplayFor(model => deal.CurrencyCode)</td>
                    <td class="text-right align-text-bottom">@Html.DisplayFor(model => deal.Settlement)</td>
                    <td class="text-right align-text-bottom">@Html.DisplayFor(model => deal.MarketName)</td>
                </tr>
            }
        </tbody>
    </table>
</div><br />

<div class="text-center">
    <span class="glyphicon glyphicon-arrow-left bg-abvmiddlegreen"></span>
    &nbsp;
    <a asp-action="ChooseDate" class="bg-abvmiddlegreen large-fontsize">Обратно</a>
</div>