@model IEnumerable<RSSFeedViewModel>
@{
    ViewData["Title"] = "Новини";
}

<div class="container">
    <h2 class="bg-abvmiddlegreen">@ViewData["Title"]</h2>
    <hr />
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <a class="bg-abvdarkgreen" href="@item.Uri" target="_blank">@Html.DisplayFor(modelItem => item.Title)</a>
            <div class="bg-abvmiddlegreen">
                @Html.DisplayFor(modelItem => item.Summary)
            </div>
            <div class="bg-abvlightgreen">
                @Html.DisplayFor(modelItem => item.PublishedDate)
            </div>
            <hr />
        }
    }
</div>

<partial name="_PageReloadPartial" />