@model IEnumerable<PortfolioViewModel>
@{
    Layout = null;
    ViewData["Title"] = "Портфолио";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8-BOM" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-abvdarkgreen">
    <article>
        <table class="table table-bordered">
            <caption class="bg-abvmiddlegreen large-fontsize">@ViewData["Title"] към дата  @Model.First().DailySecuritiesPerClientDate</caption>
            <thead class="bg-bg-abvlightgreen">
                <tr>
                    <th class="text-center" scope="col">Емитент</th>
                    <th class="text-center" scope="col">БФБ Код</th>
                    <th class="text-center" scope="col">ISIN</th>
                    <th class="text-center" scope="col">Наличност</th>
                    <th class="text-center" scope="col">Валута</th>
                    <th class="text-center" scope="col">Средна цена</th>
                    <th class="text-center" scope="col">Стойност на придобиване</th>
                    <th class="text-center" scope="col">Пазарна цена</th>
                    <th class="text-center" scope="col">Пазарна стойност</th>
                    <th class="text-center" scope="col">Доходност</th>
                    <th class="text-center" scope="col">Доходност (%)</th>
                    <th class="text-center" scope="col">Тегло в портфейла (%)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var security in Model)
                {
                    var profit = security.Profit.ToString("N2", CultureInfo.CreateSpecificCulture("sv-SE"));
                    <tr>
                        <td class="text-left">@Html.DisplayFor(model => security.SecurityIssuerName)</td>
                        <td class="text-left">@Html.DisplayFor(model => security.SecurityBfbCode)</td>
                        <td class="text-left">@Html.DisplayFor(model => security.SecurityIsin)</td>
                        <td class="text-right">@Html.DisplayFor(model => security.Quantity)</td>
                        <td class="text-right">@Html.DisplayFor(model => security.CurrencyCode)</td>
                        <td class="text-right" type="number">@Html.DisplayFor(model => security.AveragePriceBuy)</td>
                        <td class="text-right">@Html.DisplayFor(model => security.TotalPriceBuy)</td>
                        <td class="text-right">@Html.DisplayFor(model => security.MarketPrice)</td>
                        <td class="text-right">@Html.DisplayFor(model => security.TotalMarketPrice)</td>
                        <td class="text-right">@profit</td>
                        <td class="text-right">@Html.DisplayFor(model => security.ProfitPercentаge)%</td>
                        <td class="text-right">@Html.DisplayFor(model => security.PortfolioShare)%</td>
                    </tr>
                }
            </tbody>
        </table>
    </article>
    <footer class="text-center bg-abvmiddlegreen">
        <p>АБВ Инвестиции. Всички права запазени.</p>
        <p>&copy; 2018</p>
    </footer>
</body>
</html>