@model IEnumerable<PortfolioViewModel>
@{
    ViewData["Title"] = "Портфолио";
}

<h2 class="bg-abvmiddlegreen text-center">@ViewData["Title"]</h2>
<hr />

<table class="table table-hover table-responsive">
    <caption class="bg-abvdarkgreen large-fontsize">Списък с ценни книжа към дата @Model.First().DailySecuritiesPerClientDate</caption>
    <thead class="bg-abvdarkgreen bg-bg-abvlightgreen">
        <tr>
            <th class="text-center" scope="col">Емитент</th>
            <th class="text-center" scope="col">БФБ Код</th>
            <th class="text-center" scope="col">ISIN</th>
            <th class="text-center" scope="col">Наличност</th>
            <th class="text-center" scope="col">Валута</th>
            <th class="text-center" scope="col">Средна цена</th>
            <th class="text-center" scope="col">Стойност на придобиване</th>
            <th class="text-center" scope="col">Пазарна цена</th>
            <th class="text-center" scope="col">Пазарна стойност</th>
            <th class="text-center" scope="col">Доходност</th>
            <th class="text-center" scope="col">Доходност(%)</th>
            <th class="text-center" scope="col">Тегло в портфейла(%)</th>
        </tr>
    </thead>
    <tbody class="bg-abvdarkgreen">
        @foreach (var security in Model)
        {
            var profit = security.Profit.ToString("N2", CultureInfo.CreateSpecificCulture("sv-SE"));
            <tr>
                <td class="text-left">@Html.DisplayFor(model => security.SecurityIssuerName)</td>
                <td class="text-left">@Html.DisplayFor(model => security.SecurityBfbCode)</td>
                <td class="text-left">@Html.DisplayFor(model => security.SecurityIsin)</td>
                <td class="text-right align-text-bottom">@Html.DisplayFor(model => security.Quantity)</td>
                <td class="text-right align-text-bottom">@Html.DisplayFor(model => security.CurrencyCode)</td>
                <td class="text-right align-text-bottom" type="number">@Html.DisplayFor(model => security.AveragePriceBuy)</td>
                <td class="text-right align-text-bottom">@Html.DisplayFor(model => security.TotalPriceBuy)</td>
                <td class="text-right align-text-bottom">@Html.DisplayFor(model => security.MarketPrice)</td>
                <td class="text-right align-text-bottom">@Html.DisplayFor(model => security.TotalMarketPrice)</td>
                @if (security.Profit > 0)
                {
                    <td class="text-right bg-abvmiddlegreen">
                        @profit<br />
                        <span class="fas fa-plus"></span>
                    </td>
                    <td class="text-right bg-abvmiddlegreen">
                        @Html.DisplayFor(model => security.ProfitPercentаge)%<br />
                        <span class="fas fa-plus"></span>
                    </td>
                }
                else if (security.Profit < 0)
                {
                    <td class="text-right bg-abvred">
                        @profit<br />
                        <span class="fas fa-minus"></span>
                    </td>
                    <td class="text-right bg-abvred">
                        @Html.DisplayFor(model => security.ProfitPercentаge)%<br />
                        <span class="fas fa-minus"></span>
                    </td>
                }
                else
                {
                    <td class="text-right">
                        @Html.DisplayFor(model => security.Profit)<br />
                        <span class="fas fa-equals"></span>
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(model => security.ProfitPercentаge)%<br />
                        <span class="fas fa-equals"></span>
                    </td>
                }

                <td class="text-right align-text-bottom">@Html.DisplayFor(model => security.PortfolioShare)%</td>
            </tr>
        }
    </tbody>
</table>

<form asp-controller="Portfolios" asp-action="CreatePdf" method="post">
    <input type="hidden" name="date" value="@Model.First().DailySecuritiesPerClientDate" />
    <button type="submit" class="btn bg-bg-abvdarkgreen bg-abvlightgreen">Експорт в PDF</button>
</form><br /><br />

<div class="text-center">
    <span class="fas fa-arrow-left bg-abvmiddlegreen"></span>
    &nbsp;
    <a asp-action="ChooseDate" class="bg-abvmiddlegreen large-fontsize">Обратно</a>
</div>